.bl1{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
ol{
    margin: 80px;
    padding: 100px;
    justify-content: center;
    align-items: centers;
    border: 1px solid #dbcfd9e1;
    background-color: lightpink;  
} 
ol li::before{
  
    padding: 15px 10px 15px 80px;
    background-color: blue;
}
ol li ::after{
    
    background-color: blue;
}

.news__local {
    color: white;
}

.title{
    font-size: 60px;	
	padding-left: 50px;
    

}
.title span {
        
    background-color: maroon;
    padding: 5px 30px 5px 30px;
    line-height: 14px;
    font-size: 40px;
}



*{
    box-sizing: border-box;
 }

.bl2{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

ul li{
    position: relative;
    padding: 15px 10px 15px 80px;
    background-color: aquamarine;
    
}

ul li:nth-child(odd) {
    background: aqua;
}
  
li.checked{
    background: darkgrey;
    text-decoration:line-through;
}

ul li::before { 
    content: "𐄂";
    padding: 25px;
}

ul li.checked::before { 
    content: "🗹";
}

ul li::after { 
    content:"✖";
    padding-left: 20px;
    color: #8c1100;
}
